{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="masthead" style="background-image: url('static/assets/img/terno.jpg');">
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <p style="margin-top: 500px; margin-right:  500px; font-size: 80px;">
      <i>Aprenda</i>
    </p>
</div>
</div>
<div style="text-align: center;  background-color: #A2AEB6; color: #181A1D;">
  <h1 class="pb-3 pt-3" style="font-family: Montserrat; margin-bottom: 0%;">
    <strong>Conteúdo</strong>
  </h1>
  <div class="row m-4 mb-0 pb-3">
    {% include 'partials/_card.html' %}
    {% include 'partials/_detail.html' %}
  </div>
</div>  
<div class="conteiner p-5" style="background-color: rgba(204, 204, 204, 0.534);">
  <div class="row" style="margin-right: 0%; margin-left: 0%;">
    <div class="col-lg-6" >
      <img class="img-fluid rounded" src="{% static 'assets/img/terno2.jpg' %}" alt="">
    </div>
    <div class="col-lg-6">
      <p style="font-size: 20px; font-family: 'Montserrat'; margin-top: 100px;">        
        Empreender é muito mais do que iniciar um negócio; é um ato de coragem, inovação e visão. 
        O empreendedor enxerga oportunidades onde outros veem obstáculos, e transforma ideias em realidade através de esforço, 
        persistência e criatividade. <br> No caminho do empreendedorismo, desafios são inevitáveis, 
        mas cada obstáculo superado é uma lição valiosa que fortalece e capacita para o próximo passo.
      </p>
    </div>  
  </div>
</div>
{% include "partials/_footer.html" %}
{% endblock %}
